body {
    background-color: #ffffff;
}

.navbar {
    min-height: 68px;
    border-bottom: 1px solid #ad0f0f;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    color: #ad0f0f;
}

.navbar-custom {
    background-color: #ffffff;
}

.logo-navbar {
    height: 80px;
    width: auto;
}

.navbar-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-primary {
    background-color: #ad0f0f;
    --bs-btn-hover-bg: #810b0b;
    --bs-btn-active-bg: #810b0b;
    --bs-btn-active-border-color: #ad0f0f;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid #ad0f0f;
    border-radius: var(--bs-border-radius);
}

.btn-dark{
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: #6c757d;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #ad0f0f !important;
}

.btn-outline-primary {

    --bs-btn-hover-bg: #810b0b;
    --bs-btn-active-bg: #810b0b;
    --bs-btn-active-border-color: #ad0f0f;
    --bs-btn-color: #810b0b;
    --bs-btn-border-color: #ad0f0f;
    --bs-btn-hover-color: #ad0f0f;
    --bs-btn-hover-border-color: #fd0d0d;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #810b0b;
    --bs-btn-active-border-color: #810b0b;
}

.btn-success{
    background-color: #ad0f0f;
    --bs-btn-hover-bg: #810b0b;
    --bs-btn-active-bg: #810b0b;
    --bs-btn-active-border-color: #ad0f0f;
    border-color: #ad0f0f;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: #810b0b;
}

.btn-outline-success{
    --bs-btn-hover-bg: #810b0b;
    --bs-btn-active-bg: #810b0b;
    --bs-btn-active-border-color: #ad0f0f;
    --bs-btn-color: #810b0b;
    --bs-btn-border-color: #ad0f0f;
    --bs-btn-hover-color: #ad0f0f;
    --bs-btn-hover-border-color: #fd0d0d;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #810b0b;
    --bs-btn-active-border-color: #810b0b;
}

.text-primary {
    --bs-text-opacity: 1;
    color: #ad0f0f !important;
}

.btn-secondary {
    background-color: #ad0f0f;
    --bs-btn-hover-bg: #810b0b;
    --bs-btn-active-bg: #810b0b;
    --bs-btn-active-border-color: #ad0f0f;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #fa0404;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(253 13 13 / 25%);
}

.form-select:focus {
    border-color: #fa0404;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253 13 13 / 25%);
}
.form-select {
    border: var(--bs-border-width) solid #ad0f0f;
}